@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.btn {
  background: var(--primary-color);
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 0.7rem 0;
  border-radius: 5px;
}
.headline {
  font-size: 1.5em;
  font-family: "Poetsen One", sans-serif;
  padding: 1.7rem 0;
  text-align: center;
}
.headline span {
  color: var(--primary-color);
  opacity: 1;
}
.tagline {
  opacity: 0.5;
  font-size: 0.9em;
  padding: 2.5rem 0;
  text-align: center;
}
